.modalBody {
    margin: 34px 74px;
    text-align: center;
}

.modalButton {
    width: 100%;
    padding: 16px;
    border-radius: 12px;
    margin-bottom: 8px;
}

.btnClose {
    position: absolute;
    z-index: 99;
    cursor: pointer;
    right: -18px;
    top: -18px
}