.banner {
    width: 100%;
}

@media(max-width: 991px) {
    .banner {
        width: 70%;
        display: block;
        margin: 0 auto;
    }
}

/* tablet device */

@media(max-width: 767px) {
    .banner {
        width: 60%;
    }
}

/* mobile device */
@media(max-width: 500px) {
    .banner {
        width: 50%;
    }
}